<!doctype html>
<html>
<head>
  <title>Vue-Todo</title>

  <link rel="stylesheet" href="./app.css">
</head>
<body>
  <div id="app">
    <h3>Create new Task</h3>
    <div class="form-group">
      <label>
        <span>Task Description: </span>
        <input type="text" v-model="new_task.name" @keydown.enter="add_task">
      </label>
    </div>
    <div class="form-group">
      <label>
        <span>Task Completed?</span>
        <input type="checkbox" v-model="new_task.is_completed">
      </label>
    </div>
    <button name= "submit" @click="add_task">submit</button>

    <div class="box">
      <div class="column">
        <h3>Current Tasks</h3>

        <ul>
          <li v-for="task in available_tasks">
            <input type="checkbox" v-model="task.is_completed">
            <span :class="{ finished: task.is_completed }">{{ task.name }}</span>
            <button @click="delete_task(task)">Delete</button>
          </li>
        </ul>
      </div>
      <div class="column">
        <h3>Deleted Tasks</h3>

        <ul>
          <li v-for="task in deleted_tasks">
            <input type="checkbox" v-model="task.is_completed" disabled>
            <span :class="{ finished: task.is_completed }">{{ task.name }}</span>
            <button @click="restore_task(task)">Restore</button>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./app.js"></script>
</body>
</html>
